<%- include('./templates/header.ejs') %>
<%- include('./templates/navbar')%>
    <section class="section">
        <div class="container">
            <h1 class="title">
                Asobreva SAT
            </h1>
            <p class="subtitle">
                Asociación de Productores de <strong>Breva</strong> Chamezas
            </p>
        </div>
    </section>
    <div class="container">
        <% if (messages) { %>
            <article class="message is-success">
                <div class="message-body">
                    <%= messages %>
                </div>
            </article>
        <% } %>
    </div>
    <section class="section">
        <div class="container">
            <progress class="progress" value="100" max="100">100%</progress>
            <div class="tile is-ancestor">
                <div class="tile is-parent">
                    <article class="tile is-child box">
                        <p class="title">Mision</p>
                        <div class="content">
                            <p>Producir y comercializar la breva, utilizando tecnologías adecuadas en nuestros
                                cultivos, orientando y ges-tionando recursos para contribuir al mejoramiento del
                                medio
                                ambiente y de la calidad de vida del productor y consumidor.</p>
                        </div>
                    </article>
                </div>
                <div class="tile is-parent">
                    <article class="tile is-child box">
                        <p class="title">Vision</p>
                        <div class="content">
                            <p>En el 2025 seremos una empresa líder en producción, transformación y comercialización
                                de
                                breva a nivel nacional e internacional, con responsabilidad y compromiso social.</p>
                        </div>
                    </article>
                </div>
                <div class="tile is-parent is-6">
                    <article class="tile is-child box">
                        <p class="title">Sobre Nosotros</p>
                        <div class="content">
                            <p>ASOBREVA SAT, se constituyó en el mes de Enero del 2007, pensando en la formación de
                                una
                                empresa asociativa a través de la cual se empezara a desarrollar alianzas
                                estratégicas
                                de mercado, que permitieran comercializar la breva en fresco directamente, sin
                                utilizar
                                intermediarios, para así obtener un precio favorable al agricultor y darle un valor
                                agregado al cultivo.</p>
                        </div>
                    </article>
                </div>
            </div>
            <progress class="progress" value="100" max="100">100%</progress>
    </section>
    <div class="container">
        <div class="card">
            <div class="card-image">
                <figure class="image is-4by6">
                    <img src="https://docplayer.es/docs-images/106/172600003/images/12-0.jpg" alt="Placeholder image"
                        width="200" height="200">
                </figure>
            </div>
        </div>
    </div>
    <%- include('./templates/footer')%>