<%- include('./templates/header.ejs') %>
    <%- include('./templates/navbar')%>
        <div class="container">
            <h1>Registrar Produccion</h1>
        </div>
        <%- include('./templates/footer')%>