<%- include('./templates/header.ejs') %>
    <%- include('./templates/navbar')%>
        <section class="section">
            <div class="container">
                <div class="columns">
                    <div class="column is-half is-offset-one-quarter">
                        <div class="box">
                            <h1 class="title">
                                Registro de Produccion de breva
                            </h1>
                            <form action="/add-production" method="POST">

                                <div class="field">
                                    <label class="label">Cedula del propietario</label>
                                    <div class="control">
                                        <input class="input" type="text" name="idCard" required
                                            onkeypress="return event.charCode >= 48 && event.charCode <= 57">
                                    </div>
                                </div>

                                <div class="field">
                                    <div class="control">
                                        <button class="button is-link">Comprobar Persona</button>
                                    </div>
                                </div>
                            </form>
                            <br>

                            <% if (register) { %>
                                <article class="message is-success">
                                    <div class="message-body">
                                        <%= register %>
                                    </div>
                                </article>

                                <form action="/add-p" method="POST">
                                    <div class="field">
                                        <label class="label">Kilos</label>
                                        <div class="control">
                                            <input class="input" type="number" name="weight" placeholder="ej. 30"
                                                required>
                                        </div>
                                    </div>
                                    <div class="field">
                                        <label class="label">Fecha</label>
                                        <div class="control">
                                            <input class="input" type="date" name="date" required>
                                        </div>
                                    </div>
                                    <div class="field">
                                        <div class="control">
                                            <button class="button is-link">Registrar Produccion</button>
                                        </div>
                                    </div>
                                </form>
                                <% } %>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <%- include('./templates/footer')%>