<footer class="footer">
    <div class="content has-text-centered">
        <p>
            <strong>Sistema de información</strong> by <a href="https://argenh.me/">Arge Niño</a>.
            <br/>Para una asosiación de productores de breva.
        </p>
    </div>
</footer>